.grid {
     background-image: url('./images/background.png');
     width: 400px;
     height: 600px;
     position: relative;
     font-size: 100px;
     text-align: center;
}
.doodler {
     background-image: url('./images/doodler-guy.png');
     width: 87px;
     height: 85px;
     position: absolute;
}
.platform {
     background-image: url('./images/platform.png');
     width: 85px;
     height: 15px;
     position: absolute;
}